:root {
            --amazon-orange: #ff9900;
            --amazon-dark: #131921;
            --amazon-blue: #007185;
            --gray-light: #f0f0f0;
            --red-strong: #dc2626;
        }
        body{
         display: flex;
         font-family: 'Roboto Slab', serif;
         background-color: var(--gray-light);
         color: var(--amazon-dark);
         justify-content: center;
         align-items: center;
         color: rgb(71, 71, 71);
         padding: 1rem;
        }
      .container{
         background-color: white;
         box-shadow: 15px 15px 16px -5px rgba(0,0,0,0.1), -15px -15px 16px -5px rgba(0, 0, 0, 0.1);
         border-radius: 9px;
         width: 100%;
         max-width: 28rem ;
         justify-content: center;
         align-items: center;
         display: flex;
         flex-direction: column;
         padding: 2rem;
      }
      .title{
         text-align: center;
         justify-content: center;
         font-family: 'Oswald', sans-serif;
         color: var(--amazon-dark);
      }
      .main{
         color: var(--amazon-orange);
      }
      .rules-box{
         justify-content: center;
         display: flex;
         flex-direction: column;
         padding: 0px;
         margin-top: 0px;
         border-left: 4px solid var(--amazon-orange);
         padding: 1rem;
         gap: 0.9rem;
         background-color: rgba(255, 153, 0, 0.1);
         border-radius: 9px;
      }
      .rules-box p{
         color: var(--amazon-dark);
         margin: 0px;
         font-weight: bolder;
      }
      .rules-box ul{
         margin: 0px;
         padding-left: 1.2rem;
      }
      .rules-box li{
        margin-bottom: 0.3rem;
      }
      .shipping-fee{
         color: var(--red-strong);
         font-weight: bold;
      }
      .free-shipping{
         color: var(--amazon-blue);
         font-weight: bold;
      }
      .input-wrapper{
         align-items: center;
         justify-content: center;
         width: 100%;
         margin-top: 1.5rem;
         display: flex;
         flex-direction: column;
         gap: 0rem;
      }
      .input-wrapper span{
         margin: 0px;
         font-weight: bold;

      }
      .input{
         width: 100%;
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 0.2rem;
      }
      .check-shipping{
         background-color: var(--amazon-orange);
         border: none;
         color: white;
         width: 100%;
         height: 2.5rem;
         justify-content: center;
         align-items: center;
         border-radius: 5px;
         cursor: pointer;
         font-size: 1.2rem;
         font-weight: bold;
         transition: background-color 0.3s ease;
      }
      .check-shipping:hover{
         background-color: #e68a00;
         transform: scale(1.05);
      }
      .order-amount{
         height: 2.2rem;
         border: 1px solid var(--amazon-orange);
         border-radius: 5px;
         padding-left: 0.5rem;
         font-size: 1rem;
         flex-grow: 1;
         
      }
